


    <!-- //banner-->

    <!--/contact -->
<body>
    <section class="banner-bottom py-5">
        <div class="container py-md-5">
            <ul class="breadcrumb justify-content-center text-uppercase">
                            <button style="background-color: orange;
  border: none;
  color: white;
  padding: 20px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;"><a href=/index style="display: block;">Home</a></li></button>
                            
            <div class="row contact_information">
                <div class="col-md-6">
                    <style type="text/css">
    button{border-radius: 12px;}
    table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr {background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}
</style>
<h6 style="color:red;">{{error}}</h6>
                    <table>
                        <tr>
                            <th>id</th>
                            <th>Product Name</th>
                            <th>Image</th>
                            <th>Quantity</th>
                            <th>Total amount</th>
                            <th>Remove</th>
                        </tr>
                        {% for x in cdata %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{x.tid.itemname}}</td>
                           <td><img src="{{x.tid.image.url}}" style="width:100px;height: 100px; object-fit: contain; float: left;"></td>
                  <td><form action="/updatecart/?cid={{x.id}}" method="post">
                                    {% csrf_token %}
                                  <select name="quantity" id="quantity" onchange="this.form.submit();">
                                    <option value="{{x.quantity}}" selected>{{x.quantity}}</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                  </select>
                              </form>
                          </td>                                   
                            <td>{{x.totalamount}}</td>
<td><button style="background-color: red;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;"><a href="/cartdelete/?cid={{x.id}}">remove</a></button></td>                        
</tr>
                        {% endfor %}
                        <tr>
                            <td>Total: {{total}}</td>
                            <td colspan="4"> <button style="background-color:lightgreen;float:right;width: 100%; height: 30px;border: none;"><a href="/payment/?gt={{total}}" style="color: darkgreen;display: block;">PAYMENT</a></button></td>
                        </tr>

                    </table><br>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--//contact -->
</body>

   
    <!--//shipping-->
